@model ProjetoCrudWEB.Models.Aluno

@{
    ViewData["Title"] = "Adicionar";
}

<h1>Adicionar</h1>

<h4>Aluno</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Adicionar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Matricula" class="control-label"></label>
                <input asp-for="Matricula" class="form-control" />
                <span asp-validation-for="Matricula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label>
                <br />
                <select asp-for="Sexo" asp-items="Html.GetEnumSelectList<EnumeradorSexo>()">
                    <option value="">Selecione um sexo</option>
                </select>
                <span asp-validation-for="Sexo" class="text-danger"><</span>
            </div>
            <div class="form-group">
                <label asp-for="Nascimento" class="control-label"></label>
                <input asp-for="Nascimento" class="form-control" />
                <span asp-validation-for="Nascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                <input class="form-control" type="text" data-val="true" data-val-length="Cpf não pode ter mais de 14 caracteres." data-val-length-max="14"
                       data-val-regex="Cpf só pode conter letras, '.' ou '-'." data-val-regex-pattern="^[0-9\.-]*$" id="Cpf" maxlength="14" name="Cpf" value="">
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <a class="btn btn-sm btn-secondary" asp-action="Index">&#x21A9 Voltar para tabela</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }