@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center mt-5 pt-4"">
    <h1 class="display-3">Bem-vindo!</h1>
    <h2 class="display-6">Selecione uma opção da barra de opções para prosseguir.</h2>
</div>
